body {
  background-color:seashell;
}
h1 {
  Font-size:50px
}
.title {
  Background-color:Mistyrose;
  Font-size:30px;
  Font-family: Arial, Helvetica, sans-serif;
}
.job {
  Font-size:20px;
  Font-family: Arial, Helvetica, sans-serif;
}
